body{
  background-color: #0e0000;
   
  }
    div.lecture{
    width:300px;
    height:100px;
    background-color: #0e0000;
    position:relative;
    top:50px;
    left:600px;
    text-align:center;
    font-size:40px;
    padding:10px;
     animation-name: myanimation;
    animation-duration: 4s;
    opacity:0.7;
    box-shadow:0 0 10px 10px rgb(41, 233, 67);
    transition-property: background-color,opacity;
    transition-duration: 1s;
    color:rgba(42, 216, 144, 0.959);
    border-radius:10px;
   
    }
    .lecture:hover{
      background-color:rgb(5, 56, 54);
opacity:1;
background-color:rgb(5, 56, 54);
    opacity:1;
    box-shadow:inset 20px 0px 60px 30px rgba(42, 216, 144, 0.959),
    inset 10px 5px 60px 30px pink,
    0 0 20px 10px white;
    color:rgb(0, 0, 0);

    }
  .flexbox{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    position:relative;
    top:180px;
    left:300px;
    width:900px;
    transition-property:background;
    transition-duration:3s;
  }
  .flexbox> div {
    background-color: #0e0000;
    width:200px;
    height:75px;
    margin: 30px;
    padding: 20px;
    font-size: 30px;
    text-align:center;
    transition-property:background,border,opacity;
    transition-duration:1s;
     animation-name: myanimation;
    animation-duration:4s;
    opacity: 0.7;
    box-shadow:0 0 10px 10px rgb(80, 228, 100);
    color:rgba(42, 216, 144, 0.959);
    border-radius:10px;
    
  }
  .flexbox>div:hover
  {
    background-color:rgb(5, 56, 54);
    opacity:1;
    box-shadow:inset 20px 0px 60px 30px rgba(42, 216, 144, 0.959),
    inset 10px 5px 60px 30px pink,
    0 0 20px 10px white;
    color:black;
    
  }
  
  .a{
    position: absolute;
    width: 180px;
    height: 80px;
    
    text-decoration: none;
    z-index: 10;
    opacity: 0;
  }
  

